.first_column {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-7);
  padding: var(--space-4) 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.bottom_redirection {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: var(--space-3);
  padding-top: var(--space-5);
  border-top: 2px solid var(--dark-green);
  width: 100%;
  text-decoration: none;
}

.redirect_icon:hover {
  animation: zoom-in-zoom-out 1.5s ease infinite;
  cursor: pointer;
}

.second_column {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100%;
  width: auto;
}

.third_column {
  /* background */
  background-color: #dda25e33;
  background-image: linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      30deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      150deg,
      #ffffff 12%,
      transparent 12.5%,
      transparent 87%,
      #ffffff 87.5%,
      #ffffff
    ),
    linear-gradient(
      60deg,
      #ffffff77 25%,
      transparent 25.5%,
      transparent 75%,
      #ffffff77 75%,
      #ffffff77
    ),
    linear-gradient(
      60deg,
      #ffffff77 25%,
      transparent 25.5%,
      transparent 75%,
      #ffffff77 75%,
      #ffffff77
    );
  background-size: 62px 109px;
  background-position: 0 0, 0 0, 31px 54px, 31px 54px, 0 0, 31px 54px;

  /* global */
  position: relative;
  margin: 0 -40px;
  width: calc(100% + 80px);
  padding: var(--space-4) var(--space-6);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.cta {
  margin-top: var(--space-5);
  text-decoration: none;
}

.arrow_container {
  padding-top: 130px;
  display: flex;
  gap: var(--space-6);
}

.arrow_container > img {
  cursor: pointer;
}

.arrow_container > img:last-of-type {
  transform: rotateZ(180deg);
}

@media only screen and (max-width: 1260px) {
  .bottom_redirection {
    position: relative;
  }

  .second_column {
    border-radius: 20px;
  }

  .image {
    width: 100%;
  }

  .third_column {
    position: relative;
    width: 100vw;
    margin: auto;
    left: -40px;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
